 span{
    font-size: 10px !important;
}

h5{
    font-size: 15px;
}
.collapse a{
    transition: all 1s;
}
.collapse a:hover{
    color: #009ad8 !important;
    border: #009ad8 2px solid;
    border-radius: 20px !important;
    padding: 2px 15px !important;
}


#home {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center center;
  
}

#home input{
    border-radius: 30px !important;
}

#home button{
    border-radius: 30px !important;  
    padding: 12px 40px;
    background-color: #009ad8;
    color: white;
    left: 86%;
    transform: translateX(-86%);
}
body
 {
    background-color: #262936;
}


#homefooter input{
    border-radius: 30px !important;
    width: 60.5% !important;
}

#homefooter button{
    border-radius: 30px !important;  
    padding: 12px 25px;
    background-color: #009ad8;
    color: white;
    left: 58%;
    transform: translateX(-58%);
}

i{
    border: 0px solid;
    border-radius: 50%;
    background-color: #1e202b;
    padding: 15px;
    color: #009ad8;
    transition: all 1s;
}

i:hover{
    background-color: #009ad8;
    color: white;
}

.pfooter {
    color: #bfc1c8;
}



.displayyy{
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px 5px;
}